/* css styles */


.dropdown-menu {
  height: 200px;
  max-height:700px;
  overflow-y: scroll;
}

.tape {
    pointer-events: none;
}


/* .menu-text {
   /*  display: flex;
    /* align-items: center; /* Vertically centers the content */
    /* padding-top: 0px; /* Adds padding to the top of the text */
    /* or */
    /* margin-top: 7px; /* Adds margin to the top of the text */
/* }


/*.nav-item span {
/*    display: flex;
    /* align-items: center; /* Vertically centers the content */
    /* padding-top: 0px; /* Adds padding to the top of the text */
    /* or */
    /* margin-top: 7px; /* Adds margin to the top of the text */
/* }

/* .nav-item i {
/*   margin-left: 5px; /* Adds space between the icon and text */
/* }


