@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body { 
  font-family: 'Nunito', Verdana, Helvetica, sans-serif;
  font-size: 16px; 
  color: black;
  font-style: normal; 
  font-variant: normal; 
  line-height: 26.399999618530273px;
  text-align: justify;
  text-justify: inter-word; 
  background-color: #F8F8F8;
} 
  
  
.navbar-default {
  background-color: #F8F8F8;
} 


div {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.28;
}


td {
  text-align: justify;
}

img {
  width: 85%;
  display: block;
  margin: 0 auto;
}

.nav-dropbtn { 
  letter-spacing: 2px;
  text-transform: lowercase;
}

.dropdown-menu.active, .dropdown-menu.active:focus, .dropdown-menu.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #003896;
    border-color: #F8F8F8;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #003896;
    border-color: #F8F8F8;
}


.logo img {
    height: 27px;
    width: auto;
    padding-top: 15px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    height: 80px;
}

.menu-bg .logo {
    padding-top: 10px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}



.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #003896;
    border-color: #F8F8F8;
}

/* unvisited link */
a:link {
  color: #003896;
}

/* visited link */
a:visited {
  color: #003896;
}

/* mouse over link */
a:hover {
  color: #003896;
}

/* selected link */
a:active {
  color: #003896;
}


.author,.title{
    display: none;
    background-color: #F8F8F8;

}

.a
{
target:tab;
}


.math {
  font-size: large;
}



.text {
  font-size: 6px;
}


.dropdown-menu {
  height: 400px;
  max-height:600px;
  overflow-y: scroll;
}
