
body { 
  font-family: Verdana; 
  font-size: 16px; 
  font-style: normal; 
  font-variant: normal; 
  line-height: 26.399999618530273px; } 
  


img {
  width: 85%;
  display: block;
  margin: 0 auto;
}

.nav-dropbtn { 
  letter-spacing: 2px;
  text-transform: lowercase;
}


.logo img {
    height: 27px;
    width: auto;
}

.logo {
    padding-top: 15px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    height: 80px;
}

.menu-bg .logo {
    padding-top: 10px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


.p1 {
  font-family: Helvetica, Verdana, sans-serif;
}

.p2 {
  font-family: Helvetica, Verdana, sans-serif;
}

.p3 {
  font-family: Helvetica, Verdana, sans-serif;
}


/*.table-hover > tbody > tr:hover { 
  background-color: #FFFF00;
}

